<div>
  <app-jumbotron></app-jumbotron>
  <div class="">
    <app-recipes-row
      [recipes]="mostPopularRecipes"
      [title]="'Most Popular'"
    ></app-recipes-row>
    <app-recipes-row
      [recipes]="chicagoRecipes"
      [title]="'Chicago Style'"
    ></app-recipes-row>
    <app-recipes-row
      [recipes]="newYorkRecipes"
      [title]="'Neopolitan Style'"
    ></app-recipes-row>
    <app-recipes-row
      [recipes]="sicilianRecipes"
      [title]="'Sicillian Style'"
    ></app-recipes-row>
  </div>
</div>
