<div class="relative text-center text-white hidden md:block">
  <img class="w-full h-auto" src="assets/jumbotron-cropped-edited.jpg" />
  <div class="absolute top-0 left-0 w-full h-full flex justify-center px-32">
    <div>
      <h1
        class="mt-10 lg:mt-32 mb-10 font-extrabold font-serif tracking-wide leading-relaxed text-4xl"
      >
        Learn To Make Fabulous Pizza From The Comfort Of Your Home
      </h1>
      <button
        class="py-2 px-4 border-2 border-red-900 m-auto rounded-md text-gray-300 bg-red-700 hover:bg-red-600 active:bg-red-800 focus:outline-none focus:shadow-outline text-center uppercase tracking-wider font-semibold"
      >
        Find the Perfect Recipe
      </button>
    </div>
  </div>
</div>
