<div class="w-64 overflow-hidden rounded-md bg-white shadow-lg">
  <div
    class="h-56 w-full bg-cover bg-bottom blurOnHover"
    style="background-image: url(https://i.redd.it/k31tprm0cnz31.jpg);"
  >
    <div
      class="h-full w-full justify-center items-center flex opacity-0 hover:opacity-100"
    >
      <p class="opacity-100 text-red-700 bg-gray-900">View</p>
    </div>
  </div>

  <div class="p-4">
    <p class="text-gray-600 text-sm mb-1">
      Prep: 20min <span class="ml-1">Active: 20min</span>
    </p>
    <h2 class="font-bold text-xl mb-3 leading-tight">
      Jabbo's Famous Pizza From Italy
    </h2>
    <div class="text-red-700">
      <p>⋆⋆⋆⋆<span class="ml-1">20 reviews</span></p>
    </div>
  </div>
</div>
