<div
  class="w-40 md:w-64 overflow-hidden rounded-lg bg-white shadow-lg hover-trigger"
>
  <div
    class="h-40 md:h-56 w-full bg-cover bg-bottom blurOnHover"
    style="background-image: url(https://i.redd.it/k31tprm0cnz31.jpg);"
  >
    <button
      class="py-2 px-4 m-auto rounded-md text-gray-300 bg-red-700 hover:bg-red-600 active:bg-red-800 focus:outline-none focus:shadow-outline text-center shadow-md uppercase tracking-wider font-semibold z-40 overlay hover-target"
    >
      View
    </button>

    <div class="h-full w-full -mt-6 opacity-0 bg-gray-500 hover-target"></div>
  </div>

  <div class="p-4">
    <p class="text-gray-600 text-sm mb-2 md:mb-1">
      Prep: 20min <span class="block md:ml-1 md:inline">Active: 20min</span>
    </p>
    <h2 class="font-bold text-xl mb-3 leading-tight">
      Jabbo's Famous Pizza From Italy
    </h2>
    <div class="text-red-700 text-lg">
      <p>
        <i class="fas fa-star fa-xs"></i><i class="fas fa-star fa-xs"></i
        ><i class="fas fa-star fa-xs"></i><i class="fas fa-star fa-xs"></i
        ><i class="fas fa-star fa-xs"></i
        ><span class="md:hidden ml-2">(20)</span
        ><span class="hidden md:inline-block ml-2">20 reviews</span>
      </p>
    </div>
  </div>
</div>
